{% extends 'nemo/base.html' %}

{% block title %}Nemo{% endblock %}

{% block content %}
    <h1 class="mb-4">All posts</h1>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ post.author }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                    <p class="card-text"><small class="text-muted">{{ post.created_at }}</small></p>
                    <p class="card-text">{{ post.likes.count }} likes</p>
                    {% if user == post.author %}
                    <form method="post" action="{% url 'nemo:delete_post' post.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    {% else %}
                    {% if user.is_authenticated %}
                    {% if user in post.likes.all %}
                    <form method="post" action="{% url 'nemo:like_post' post.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-secondary">Unlike</button>
                    </form>
                    {% else %}
                    <form method="post" action="{% url 'nemo:like_post' post.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-secondary">Like</button>
                    </form>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
